@model TheLegend.Models.Ask

@{
    ViewBag.Title = "Create";
}

<h2>Pedidos de Introdução</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ask</legend>
        <div class="editor-label">
           
        <div class="editor-label">
            @Html.LabelFor(model => model.UserAsk.UserId, "UserAsk")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserAsk",String.Empty)
            @Html.ValidationMessageFor(model => model.UserAsk.UserId)
        </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserDestiny.UserId, "UserDestin")
            </div>
            <div class="editor-field">
                @Html.DropDownList("UserDestiny", String.Empty)
                @Html.ValidationMessageFor(model => model.UserDestiny.UserId)
            </div>


            <div class="editor-label">
                @Html.LabelFor(model => model.UserOrigin.UserId, "UserOrigin")
            </div>
            <div class="editor-field">
                @Html.DropDownList("UserOrigin", String.Empty)
                @Html.ValidationMessageFor(model => model.UserOrigin.UserId)
            </div>



            <p>
                <input type="submit" value="Create" />
            </p>
</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

