@model IEnumerable<TheLegend.Models.Introdution>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <td>
            <b>Introduções Recebidas</b>
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayName("Quem Pediu")
        </th>
        <th>
            @Html.DisplayName("Jogo Atribuido")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameResult)
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    if(item.UserDestinId== WebSecurity.GetUserId(User.Identity.Name)){
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserOrigin.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IntrodutionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IntrodutionId }) 
        </td>
    </tr>
}
}

</table>

<table>
    <tr>
        <td>
            <b>Estado das minhas introduções</b>
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mission.MissionId)
        </th>
        <th>
            @Html.DisplayName("Chegar a")
        </th>
        <th>
            @Html.DisplayName("Jogo Atribuido")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameResult)
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        if (item.UserOriginId == WebSecurity.GetUserId(User.Identity.Name))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mission.MissionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDestin.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.state.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.IntrodutionId }) 
                </td>
            </tr>
        }
    }

</table>
