@model IEnumerable<TheLegend.Models.Introdution>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mission.MissionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserOriginId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDestinId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
   if(item.UserDestinId== WebSecurity.GetUserId(User.Identity.Name)){
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mission.MissionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserOriginId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDestinId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IntrodutionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IntrodutionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IntrodutionId })
        </td>
    </tr>
    }
}

</table>
